:host {
  display: block;
}

.container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.intro-text {
  font-size: 1.1rem; // Átvett stílus a HomeComponent intro-text-től
  line-height: 1.6;
  color: #333; // Sötétszürke szöveg
  text-align: center;
  margin-bottom: 2rem;

  p {
    margin: 0.5rem 0;
  }

  strong {
    color: #1976d2; // Kék szín a kiemeléshez
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.button-container {
  text-align: center;
}

button {
  padding: 0 32px;
  background-color: #1976d2;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background-color: #cccccc;
    box-shadow: none;
  }
}