<div class="container">
    <h2>Kapcsolat</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email" type="email" placeholder="pelda@domain.com">
        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
          Az email cím megadása kötelező
        </mat-error>
        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
          Kérlek, adj meg egy érvényes email címet
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Üzenet tárgya</mat-label>
        <input matInput formControlName="subject" placeholder="Tárgy">
        <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">
          Az üzenet tárgyának megadása kötelező
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Üzenet</mat-label>
        <textarea matInput formControlName="message" rows="5" placeholder="Írd ide az üzeneted..."></textarea>
        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
          Az üzenet megadása kötelező
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
          Küldés
        </button>
      </div>
    </form>
</div>