<div class="container">
  <h1>Fedezd fel az összes balatoni látnivalót!</h1>    
  <h2>Fedezd fel a Balaton csodáit!
      Magyarország legnagyobb tava nemcsak fürdésre és nyári kikapcsolódásra tökéletes – a környék tele van varázslatos látnivalókkal, történelmi emlékhelyekkel, természeti csodákkal és eldugott gyöngyszemekkel. Böngéssz a legérdekesebb balatoni helyek között, és tervezd meg a következő kirándulásod velünk!</h2>   
  <div class="card-container">
    <mat-card class="card" routerLink="/eszak">
      <mat-card-title>Menj Északra</mat-card-title>
      <mat-card-content>Fedezd fel az északi partot!</mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/del">
      <mat-card-title>Menj Délre</mat-card-title>
      <mat-card-content>Fedezd fel a déli partot!</mat-card-content>
    </mat-card>
  </div>
</div>