.container {
  width: 70%; // A tartalom szélessége 70%
  margin: 0 auto; // Középre igazítás
  padding: 1rem 0; // Függőleges padding, hogy ne érjen a toolbarhoz
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0; // Padding csak függőlegesen
}

.card {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  // Háttérképek hozzáadása
  background-size: cover;
  background-position: center;
  // Az északi és déli kártyákhoz különböző képek
  &:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/app/assets/images/eszaki_part.jpeg');
  }
  &:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/app/assets/images/deli_part.jpg');
  }
  // Szöveg középre igazítása
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; // Fix magasság a kártyáknak, hogy a háttérkép jól látható legyen
  color: white; // Fehér szöveg a sötét háttér miatt
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

mat-card-title,
mat-card-content {
  text-align: center; // Szöveg középre igazítása
}

mat-toolbar {
  background-color: #1976d2; // Kék
  color: white;
  font-weight: bold;
}