<div class="container">
  <h1>Fedezze fel az összes balatoni látnivalót!</h1>
  
 
  <div class="intro-image">
    <img src="../../assets/images/balaton_nyito.jpg" alt="Balatoni tájkép">
  </div>

  <div class="intro-text">
    <p><strong>Üdvözöljük a Balaton világában!</strong></p>
    <p>Fedezze fel Magyarország legnagyobb tavának lenyűgöző környékét, ahol a természet szépsége, a történelmi kincsek és a modern kikapcsolódási lehetőségek tökéletes harmóniában találkoznak.</p>
    <p>Oldalunkon könnyedén böngészhet a legjobb balatoni látnivalók között: legyen szó az északi part festői tájairól, a déli part nyüzsgő strandjairól, vagy eldugott kis falvak rejtett kincseiről.</p>
    <p>Tervezze meg kirándulását nálunk, és élje át a Balaton varázsát!</p>
  </div>
  
  <div class="card-container">
    <mat-card class="card" routerLink="/eszak">
      <mat-card-title>Menj Északra</mat-card-title>
      <mat-card-content>Fedezd fel az északi partot!</mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/del">
      <mat-card-title>Menj Délre</mat-card-title>
      <mat-card-content>Fedezd fel a déli partot!</mat-card-content>
    </mat-card>
  </div>


  <mat-divider class="divider"></mat-divider>

  <div class="search-section">
    <p class="search-text">Nem tudja, mit keres? Böngésszen szabadon a látnivalók között, és találja meg a tökéletes úti célt!</p>
    <button mat-raised-button class="search-button" routerLink="/kereses">Keresés</button>
  </div>
</div>