.container {
    padding: 16px;
    text-align: center;
  }
  .card-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
  }
  ::ng-deep .mat-snack-bar-container {
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
}