<mat-card class="card">
  <mat-card-title>{{ attraction.name | uppercase }}</mat-card-title>
  <mat-card-content>{{ attraction.description }}</mat-card-content>
  <img *ngIf="attraction.imageUrl" mat-card-image [src]="attraction.imageUrl" alt="{{ attraction.name }}">
  <mat-expansion-panel (opened)="onPanelOpened()" (closed)="onPanelClosed()">
    <mat-expansion-panel-header>
      <mat-panel-title>Események</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p *ngFor="let event of attraction.events">
        {{ event | CalendarPipe }}
      </p>
    </div>
  </mat-expansion-panel>
</mat-card>